DATABASE_URL=postgresql+asyncpg://postgres:<your-password>@127.0.0.1:5432/ctf_db
AUTO_CREATE_TABLES=true
SECRET_KEY=change-me
ADMIN_TOKEN=change-admin-token
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=24
