# App
ENVIRONMENT=development
PROJECT_NAME=Media Service

DATABASE_URL=postgresql+asyncpg://postgres:CHANGE_ME_POSTGRES_PASSWORD@localhost:5432/shoulder_to_shoulder_media

NATS_URL=nats://localhost:4222

# S3 - MinIO (локально)
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=CHANGE_ME_MINIO_SECRET_KEY
AWS_S3_BUCKET=dev-media
AWS_S3_REGION=us-east-1
AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_PUBLIC_URL=http://localhost:9000/dev-media

MAX_FILE_SIZE=10485760
ALLOWED_CONTENT_TYPES_STR=image/jpeg,image/png,image/webp,image/svg+xml
ALLOWED_PURPOSES_STR=avatar,event,spot,badge
