APP_PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=rootroot
POSTGRES_DB=maps_db
POSTGRES_HOST=postgres

REDIS_HOST=redis
REDIS_PORT=6379

TZ=Europe/Moscow

POSTGRES_URL=postgresql+asyncpg://user:password@localhost:5432/dbname

ALLOWED_ORIGINS=["",""]